# Archivos de configuración sensibles
.env.local

# Dependencias
node_modules/

# Archivos de construcción
dist/

# Archivos de configuración de TypeScript
tsconfig.json

# Archivos del código fuente
src/

# Archivos de gestión de paquetes
package.json
package-lock.json
